@charset "UTF-8";

html,head,body,div,img,h1,h2,h3,h4,h4,h6,p,a,ul,li,section{
    margin:0;
    padding:0;
}
body{
    min-width:1280px;
}
.container{
    width:1000px;
    margin:0 auto;
    position:relative;
    z-index:10;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p,a,li{
    color:#4D342D;
    font-family: "Rounded Mplus 1c";
}
h2{
    font-weight: 500;
}
.clear{
    clear:both;
}
#wrapper{
    position:relative;
}



#header{
    background-color:rgba(255,255,255,0.7);
    width:100%;
    height:100px;
    padding:10px 3px;
    display:flex;
    justify-content: space-around;
    flex-direction:row;
}
#header li{
    padding:3px 0px;
}

/*新宿子ども劇場とは*/

#about-wrapper{
    /*background-color:#F9DC4E;*/
    background: #F9DC4E url(../img/back_about.png) no-repeat -34% 0;
    background-size: 92%;


    /*background-image: url(../img/about_back1.png);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: -100px 0px;*/
}

.about-content{
    padding-left:42%;
    position:relative;
}

.about-content h1{
    width: 85%;
    font-size:3.2rem;
    border-bottom:solid 2px #4D342D;
    padding-top:100px;
} 
.about-content :after{
    position: absolute;
    content: "";
    background: url(../img/title-star-right.png) no-repeat;
    top: 20px;
    right: -60px;
    width: 15%;
    height: 30%;
}

.about-content h2{
    font-size:2rem;
    padding:80px 0;
}

.about-content p{
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    line-height: 2.2rem;
    padding-bottom: 150px;
}

/*活動について*/

#activity-wrapper{
    position:relative;
    background-color:#F6F6F6;
}
#activity-wrapper:before{
    position:absolute;
    content:"";
    background: url(../img/activity-back-upper.png) no-repeat 50% 0;
    background-size: 100%;
    top:-2px;
    width:100%;
    height:45%;
    z-index: 1
}
#activity-wrapper:after{
    position: absolute;
    content: "";
    background: url(../img/activity-back-lower.png) no-repeat 50% 0;
    background-size: 100%;
    bottom: -220px;
    width: 100%;
    height: 45%;
    z-index: 1;
}
#activity-wrapper h1{
    width: 32%;
    font-size: 3.2rem;
    border-bottom: solid 2px #4D342D;
    padding-top: 100px;
}
#activity-wrapper h1:before{
    position: absolute;
    content: "";
    background: url(../img/title-star-left.png) no-repeat;
    top: 40px;
    left: -120px;
    width: 15%;
    height: 30%;
}
#activity-wrapper-inner{
    text-align: center;
    padding-bottom:100px;
}
#activities{
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content:space-between;
    padding: 80px 0 80px;
    position:relative;
}
#activities:after{
    position: absolute;
    content: "";
    background-image: url(../img/rocket.png);
    background-repeat: no-repeat;
    background-size: 110px;
    width: 110px;
    height: 150px;
    right: -110px;
    top: 175px;
}

.activity{
    text-align: center;
}
.activity-icon{
    position:relative;
    vertical-align: middle;
}
.activity-icon-txt1{
    position:absolute;
    width:100%;
    top:70px;
    color:white;
    font-size:2rem;
    font-weight: bold;
}
.activity-icon-txt2{
    position: absolute;
    width: 100%;
    top: 90px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.activity h2{
    padding: 20px 0 15px;
}
.activity-txt{
    font-size: 1.2rem;
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
.previous-activity{
    margin:0 auto;
}

.btn{
    width:35%;
    font-size:1.4rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    text-decoration: none;
    color:#4D342D;
    text-align: center;
    display:inline-block;
    padding: 10px 120px;
    border-radius:25px;
    opacity:1;
    transition:.1s ease;
    transition-property: initial;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: initial;
    opacity:1;
}
.btn:hover{
    opacity:0.9;
    transform:scale(1.05);
    transition-duration:0.1s;
    transition-timing-function:ease-in-out;
}


.previous-activity{
    background-color: #CAD758;
}

/*入会の魅力*/

#attraction-wrapper{
    position:relative;
    background-color:#F6F6F6;
    margin-bottom: -10px;
    background: #F6F6F6 url("../img/back_attraction.png") no-repeat 50% 0;
    background-size: cover;
    padding-bottom:50px;
}
#attraction-wrapper::before{
    content: "";
    position: absolute;
    background: url(../img/cloud-img.png) no-repeat 50% 0;
    background-size: 250px;
    width: 250px;
    height: 250px;
    top: -140px;
    left: 50px;
}

#at-wrapper-above{
    padding-left: 225px;
    text-align: center;
    padding-top: 30px;
    background-color: #F6F6F6;
}
#at-wrapper-above h1{
    width: 28%;
    font-size: 3.2rem;
    border-bottom: solid 2px #4D342D;
    margin-left: 640px;
    position:relative;
}
#at-wrapper-above h1:after{
    position: absolute;
    content: "";
    background: url(../img/title-star-right.png) no-repeat;
    background-size: 80px;
    top: -15px;
    right: -98px;
    width: 103px;
    height: 300px;
    z-index: 3;
}
.attraction-contents{
    display: flex;
    display:-webkit-flex;
    justify-content: center;
    -webkit-justify-content:center;
}
.ac-upper{
    padding-top:250px;
}
.ac-under{
    padding-top:100px;
    padding-bottom:200px;
}
.attraction-content{
    position: relative;
    box-sizing: border-box;
    width:330px;
    padding: 0 30px
}
.window{
    width:110%;
}
.item-attraction{
    position: absolute;
    left: 98px;
    top: 4px;
    width: 50%;
    transition:.1s ease;
    transition-property: initial;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: initial;
}
.item-attraction:hover{
    transform: scale(1.4);
    transition-duration:0.1s;
    transition-timing-function:ease-in-out;
    opacity: 1;
}






.detail-entry{
    background-color: #E97C1F;
    position: absolute;
    bottom: 50px;
    left: -120px;
    box-shadow: 0px 2px;
}
.form-entry{
    background-color:#F4C331;
    position: absolute;
    bottom: 50px;
    right: -120px;
    box-shadow: 0px 2px;
}


/*コメント*/

#comment-wrapper{
    background: #F9DC4E url(../img/comment-back.png) no-repeat 50% 0;
    background-size:cover;
    position:relative;
}
#comment-wrapper:after{
    position: absolute;
    content: "";
    background-image: url(../img/train-img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 590px;
}
#comment{
    /*display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;*/
    padding-bottom:160px;
}

#comment h1{
    width: 23%;
    font-size:3.2rem;
    border-bottom:solid 2px #4D342D;
    padding-top:80px;
    float:left;
    position:relative;
}

.sizuru-about{
    position: relative;
    padding: 0 0 0 250px; 
}
.sizuru-about:before{
    position: absolute;
    content: "";
    background-image: url(../img/horse-img.png);
    background-repeat: no-repeat;
    background-size: 260px;
    width: 260px;
    height: 286px;
    right: -130px;
    top: -20px;
}
.sizuru-about:after{
    position: absolute;
    content: "";
    background-image: url(../img/sizuru-img.png);
    background-repeat: no-repeat;
    background-size: 450px;
    width: 450px;
    height: 450px;
    left: 0px;
    top: 270px;
}
.comment-inner{
    text-align: center;
    position: absolute;
    top: 90px;
    left: 480px;
}
.comment-inner h2{
    font-size:2.2rem;
    padding:20px 0;
}
.comment-inner h3{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding: 0 0 50px;
    position:relative;
}
.comment-inner p{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    padding: 0 0 10px 30px;
}
.comment-inner h3:before{
    position: absolute;
    content: "";
    background: url(../img/quatation-before.png) no-repeat;
    top: 85px;
    left: -50px;
    width: 20%;
    height: 52%;
    opacity:0.7;
}
.comment-inner h3:after{
    position: absolute;
    content: "";
    background: url(../img/quatation-after.png) no-repeat;
    top: 400px;
    right: -48px;
    width: 20%;
    height: 52%;
    opacity:0.7;
}
#comment img{
    width: 92%;
    padding: 50px 0 0 110px;
}
#comment h1:before{
    position: absolute;
    content: "";
    background: url(../img/title-star-left.png) no-repeat;
    top: 40px;
    left: -120px;
    width: 50%;
    height: 130%;
}


/*footer*/

footer{
    display:flex;
    display:-webkit-flex;
    justify-content: center;
    position:relative;
}
footer:after{
    position: absolute;
    content: "";
    background: url(../img/footer-img.png) no-repeat;
    top: 480px;
    background-size: 420px;
    right: 150px;
    width: 500px;
    height: 170px;
}
.footer-block{
    padding:150px 50px 150px;
}
footer li{
    text-align: left;
    padding:4px 0px;
    font-size:1.2rem;
    opacity:0.9;
    transition:.1s ease;
    transition-property: initial;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: initial;
}
footer li:hover{
    transform:scale(1.1);
    transition-duration:0.1s;
    transition-timing-function:ease-in-out;
    opacity: 1;
}
footer a{
    text-decoration: none;
}
footer ul{
    padding-left:20px;
    color:#4D342D;
}
footer h1{
    padding-bottom:8px;
}

.footer-home{
    padding-bottom: 20px;
}
.stb,.sta{
    position:relative;
}
.stb:before{
    position: absolute;
    content: "";
    background: url(../img/footer-star-before.png) no-repeat;
    background-size: 150px;
    top: 58px;
    right: -100px;
    width: 160px;
    height: 200px;
}
.sta:after{
    position: absolute;
    content: "";
    background: url(../img/footer-star-after.png) no-repeat;
    background-size: 150px;
    top: 450px;
    left: -160px;
    width: 160px;
    height: 200px;
}



.btn_top{
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 30px;
}



